# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual env
venv/
.env

# IDE
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Distribution / packaging
build/
.dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db

#Graphify
graphify/